[Unit]
Description=Gunicorn instance to serve fishapp
After=network.target

[Service]
User=dealer
Group=www-data
WorkingDirectory=/home/dealer/Code/fish-flask-app
Environment="PATH=/home/dealer/miniconda3/envs/fish-flask-app/bin"
ExecStart=/home/dealer/miniconda3/envs/fish-flask-app/bin/gunicorn --workers 3 --bind unix:fishapp.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target